inactive/backup-all-n8n-workflows-to-google-drive-every-4-hours_sPkYuFOxKwyXH4e3.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-22T02:00:01.653Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "sPkYuFOxKwyXH4e3",
    "workflow_name": "Backup all n8n workflows to Google Drive every 4 hours",
    "active": false,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-14T07:50:00.650Z",
    "createdAt": "2025-10-03T14:37:37.649Z",
    "id": "sPkYuFOxKwyXH4e3",
    "name": "Backup all n8n workflows to Google Drive every 4 hours",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "id": "62edf095-a02a-4b8d-a7b1-e194ae0d3652",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          368,
          240
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "1e10875b-f54b-43a8-a7a2-43d4fcbf248d",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          728,
          360
        ],
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "retryOnFail": true,
        "typeVersion": 1,
        "alwaysOutputData": true
      },
      {
        "id": "1f5caabb-d76b-4744-be76-97e9abea1ddc",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          928,
          360
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 3
      },
      {
        "id": "755e0803-c5c0-48a7-9c0c-44f8d5718d0b",
        "name": "create new folder",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          548,
          360
        ],
        "parameters": {
          "name": "=Workflow Backups {{ $now.format('cccc t dd-MM-yyyy') }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "options": {},
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "replaceme",
            "cachedResultUrl": "https://drive.google.com/drive/folders/replaceme",
            "cachedResultName": "Workflow Backups"
          },
          "resource": "folder"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K8AhyJxzvT955TRk",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 3
      },
      {
        "id": "22874532-6d87-4a72-bb51-dd8c6e03c0c1",
        "name": "Convert to File",
        "type": "n8n-nodes-base.convertToFile",
        "position": [
          1148,
          460
        ],
        "parameters": {
          "options": {
            "format": true,
            "fileName": "={{ $json.name + \".json\" }} "
          },
          "operation": "toJson"
        },
        "typeVersion": 1.1
      },
      {
        "id": "0b0155f1-15bc-4580-af6e-7dec3b0d5737",
        "name": "Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1328,
          460
        ],
        "parameters": {
          "name": "={{ $('Loop Over Items').item.json.name + \".json\" }}",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "options": {},
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('create new folder').item.json.id }}"
          }
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K8AhyJxzvT955TRk",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 3
      },
      {
        "id": "c7b73036-1831-4dd6-8dd9-fef1356a184c",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          368,
          500
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "666dcf95-928c-4270-808f-755a9771a410",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          1328,
          260
        ],
        "parameters": {
          "options": {
            "ignoreCase": true
          },
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": false,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "538fc29d-2693-4c62-9848-bdcaf8566909",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                },
                "leftValue": "={{ $json.id }}",
                "rightValue": "={{ $('create new folder').item.json.id }}"
              }
            ]
          },
          "looseTypeValidation": true
        },
        "typeVersion": 2.2
      },
      {
        "id": "f6f44cbe-a98e-4a49-8c4c-59ebe02db9e5",
        "name": "delete folder",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1508,
          260
        ],
        "parameters": {
          "options": {
            "deletePermanently": true
          },
          "resource": "folder",
          "operation": "deleteFolder",
          "folderNoRootId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.id }}"
          }
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K8AhyJxzvT955TRk",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 3
      },
      {
        "id": "d96a009f-08d3-4f0d-9f70-f9e0de9b9f91",
        "name": "Get folders",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          1148,
          260
        ],
        "parameters": {
          "filter": {
            "folderId": {
              "__rl": true,
              "mode": "list",
              "value": "replaceme",
              "cachedResultUrl": "https://drive.google.com/drive/folders/replaceme",
              "cachedResultName": "Workflow Backups"
            }
          },
          "options": {},
          "resource": "fileFolder"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "K8AhyJxzvT955TRk",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 3
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "delete folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get folders": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "delete folder": {
        "main": [
          []
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Get folders",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "create new folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "create new folder": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "create new folder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": null,
    "staticData": null,
    "meta": {
      "templateId": "2886"
    },
    "pinData": null,
    "versionId": "61e71263-61a2-4457-b7c3-fe9a924119af",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-10-03T17:09:58.732Z",
        "createdAt": "2025-10-03T17:09:58.732Z",
        "role": "workflow:owner",
        "workflowId": "sPkYuFOxKwyXH4e3",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}