inactive/dev-fifo-ksef-invoices-inbox_7GKAPeiiiLEeSjDd.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-21T02:00:02.043Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "7GKAPeiiiLEeSjDd",
    "workflow_name": "[DEV] FIFO - KSEF INVOICES INBOX",
    "active": false,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-02T14:11:06.827Z",
    "createdAt": "2026-02-01T14:07:49.698Z",
    "id": "7GKAPeiiiLEeSjDd",
    "name": "[DEV] FIFO - KSEF INVOICES INBOX",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 4
              }
            ]
          }
        },
        "id": "schedule",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "nip",
                "name": "nip",
                "value": "={{ $env.KSEF_NIP }}",
                "type": "string"
              },
              {
                "id": "ksefToken",
                "name": "ksefToken",
                "value": "={{ $env.KSEF_TOKEN }}",
                "type": "string"
              },
              {
                "id": "publicKey",
                "name": "publicKey",
                "value": "={{ $env.KSEF_PUBLIC_KEY }}",
                "type": "string"
              },
              {
                "id": "baseUrl",
                "name": "baseUrl",
                "value": "https://api-test.ksef.mf.gov.pl/v2",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "set_config",
        "name": "Set Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "workflowId": "TFQksKZRnjCQNBqv",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "auth",
        "name": "Auth KSeF",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-test.ksef.mf.gov.pl/v2/invoices/query/metadata",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.accessToken.token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "options": {}
        },
        "id": "fetch_invoices",
        "name": "Fetch Invoices",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "has_invoices_cond",
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "leftValue": "={{ $json.invoices.length }}",
                "rightValue": 0
              }
            ]
          },
          "options": {}
        },
        "id": "check_invoices",
        "name": "Has Invoices?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "split_invoices",
        "name": "Split Invoices",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1104,
          0
        ]
      },
      {
        "parameters": {
          "url": "=https://api-test.ksef.mf.gov.pl/v2/invoices/ksef/{{ $json.ksefNumber }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Auth KSeF').item.json.accessToken.token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "download_invoice",
        "name": "Download Invoice",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const metadata = $('Split Invoices').first().json;\n\nconst invoice = {\n  ksefNumber: metadata.ksefNumber,\n  invoiceNumber: metadata.invoiceNumber,\n  issueDate: metadata.issueDate,\n  sellerNip: metadata.seller?.nip || '',\n  sellerName: metadata.seller?.name || '',\n  grossAmount: metadata.grossAmount || 0,\n  vatAmount: metadata.vatAmount || 0,\n  currency: metadata.currency || 'PLN',\n  paymentDueDate: '',\n  isUrgent: false,\n  daysUntilDue: 14\n};\n\n// Termin platnosci +14 dni od wystawienia\nif (invoice.issueDate) {\n  const due = new Date(invoice.issueDate);\n  due.setDate(due.getDate() + 14);\n  invoice.paymentDueDate = due.toISOString().split('T')[0];\n  invoice.daysUntilDue = Math.ceil((due - new Date()) / 86400000);\n  invoice.isUrgent = invoice.daysUntilDue < 7;\n}\n\nreturn { json: invoice };"
        },
        "id": "parse_data",
        "name": "Parse Invoice Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          0
        ]
      },
      {
        "parameters": {},
        "id": "no_invoices",
        "name": "No Invoices",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1104,
          208
        ]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": ""
          }
        },
        "id": "save_to_sheets",
        "name": "Save to Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1760,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "urgent_check",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.isUrgent }}"
              }
            ]
          },
          "options": {}
        },
        "id": "check_urgent",
        "name": "Is Urgent?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1984,
          0
        ]
      },
      {
        "parameters": {
          "sendTo": "={{ $env.NOTIFICATION_EMAIL }}",
          "subject": "=PILNE: Faktura {{ $json.invoiceNumber }} - termin {{ $json.paymentDueDate }}",
          "message": "=<h2>Pilna faktura do zaplaty!</h2><table border='1' cellpadding='8'><tr><td><b>Numer faktury:</b></td><td>{{ $json.invoiceNumber }}</td></tr><tr><td><b>Kontrahent:</b></td><td>{{ $json.sellerName }} (NIP: {{ $json.sellerNip }})</td></tr><tr><td><b>Kwota:</b></td><td>{{ $json.grossAmount }} {{ $json.currency }}</td></tr><tr><td><b>Termin platnosci:</b></td><td>{{ $json.paymentDueDate }}</td></tr><tr><td><b>Dni do terminu:</b></td><td>{{ $json.daysUntilDue }}</td></tr><tr><td><b>Numer KSeF:</b></td><td>{{ $json.ksefNumber }}</td></tr></table>",
          "options": {}
        },
        "id": "send_notification",
        "name": "Send Email Alert",
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.1,
        "position": [
          2208,
          -96
        ],
        "webhookId": "03066a05-c905-4163-9023-19a8a254674d"
      },
      {
        "parameters": {},
        "id": "not_urgent",
        "name": "Not Urgent",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2208,
          112
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Config": {
        "main": [
          [
            {
              "node": "Auth KSeF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth KSeF": {
        "main": [
          [
            {
              "node": "Fetch Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Invoices": {
        "main": [
          [
            {
              "node": "Has Invoices?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Invoices?": {
        "main": [
          [
            {
              "node": "Split Invoices",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Invoices",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Invoices": {
        "main": [
          [
            {
              "node": "Download Invoice",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Download Invoice": {
        "main": [
          [
            {
              "node": "Parse Invoice Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Invoice Data": {
        "main": [
          [
            {
              "node": "Save to Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Google Sheets": {
        "main": [
          [
            {
              "node": "Is Urgent?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Urgent?": {
        "main": [
          [
            {
              "node": "Send Email Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Urgent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "42a8a8de-b038-4216-a857-77828c857144",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-01T14:19:30.366Z",
        "createdAt": "2026-02-01T14:19:30.366Z",
        "role": "workflow:owner",
        "workflowId": "7GKAPeiiiLEeSjDd",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}