inactive/enxoo-ai-ideas-2-score-card-assistant_WYWP3xH8Wf1Fnkzz.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-03T02:00:02.015Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "WYWP3xH8Wf1Fnkzz",
    "workflow_name": "[Enxoo AI Ideas] 2. Score card assistant",
    "active": false,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-01-16T07:54:05.000Z",
    "createdAt": "2026-01-16T07:54:05.407Z",
    "id": "WYWP3xH8Wf1Fnkzz",
    "name": "[Enxoo AI Ideas] 2. Score card assistant",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "models/gemini-2.5-flash",
            "mode": "list",
            "cachedResultName": "models/gemini-2.5-flash"
          },
          "messages": {
            "values": [
              {
                "content": "=**System prompt / Agent Goal:**\n\nYou are the AI Advisor for the **Enxoo AI Consulting** team.\nYour task is to analyze data regarding a new AI idea and generate a detailed **Score Card** in JSON format.\n\nYou operate in the spirit of Lean Startup and the \"AI Idea Validation\" process. Your goal is a quick yet thorough validation of business potential. Write concisely, factually, and in a professional consulting style (**Always in English**).\n\n---\n\n### 🔹 **Evaluation Criteria (Scale 1-5)**\n\nRate the idea in 5 categories, considering Enxoo's specifics (Salesforce, Comms, Finance):\n\n1. **Relevance:** How well does it align with Enxoo's strategy? Does it concern key technologies (Agentforce, Data Cloud) or industries?\n2. **Customer Benefit:** Is the value for the client measurable (ROI, time)? Does it solve a pressing problem?\n3. **Disruptive Potential:** Is it an innovation or just \"another wrapper\"? Does it create a new niche?\n4. **Complexity:** (5 = Easy, 1 = Very difficult). How difficult will the MVP implementation be?\n5. **Know-how:** (5 = We have experts, 1 = We need to learn from scratch). Does Enxoo have the competence to deliver this?\n\n---\n\n### 🔹 **Awareness Check & Analysis**\n\n* Check (based on your knowledge) if a similar solution already exists in the Salesforce ecosystem (e.g., Einstein Features) or on the market.\n* Identify the main gap or competitive advantage.\n\n---\n\n### 🔹 **OUTPUT FORMAT (JSON ONLY)**\n\nReturn **ONLY** a valid, flat JSON object (no markdown ```json). This format is required for further automation. **All values must be in English.**\n\n{\n  \"score_relevance\": 0,\n  \"score_relevance_comment\": \"Short justification (max 1 sentence)\",\n  \"score_customer_benefit\": 0,\n  \"score_customer_benefit_comment\": \"Short justification\",\n  \"score_disruptive\": 0,\n  \"score_disruptive_comment\": \"Short justification\",\n  \"score_complexity\": 0,\n  \"score_complexity_comment\": \"Short justification\",\n  \"score_knowhow\": 0,\n  \"score_knowhow_comment\": \"Short justification\",\n  \"score_avg\": 0.0,\n  \"awareness_existing_solutions\": \"List names of existing solutions or 'None found'\",\n  \"awareness_comment\": \"Short analysis of competition / OOTB Salesforce\",\n  \"ai_advisor_summary\": \"Synthetic summary of potential (2-3 sentences).\",\n  \"score_recommendation\": \"Choose one: 'Go to Hypothesis' OR 'Reject early'\"\n}\n\n---\n\n### 🔹 **INPUT DATA**\n{{ JSON.stringify($json) }}"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1,
        "position": [
          -64,
          192
        ],
        "id": "819d5a7f-67e7-4c31-b8f9-d2c86588ee94",
        "name": "Score Card Assistant"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "M5gibSsvgi9hd0IH",
            "mode": "list",
            "cachedResultUrl": "/workflow/M5gibSsvgi9hd0IH",
            "cachedResultName": "[Enxoo AI Ideas] 3. Hypothesis assistant"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1184,
          272
        ],
        "id": "fd061caa-b1a5-4315-baef-2751b409bd49",
        "name": "Call '[Enxoo AI Ideas] 3. Hypothesis assistant'"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{\n  (() => {\n    try {\n      // 1. FIXED: Get data from the LOOP node instead of the Trigger\n      // This ensures it works for both \"Live\" and \"Scheduled\" runs.\n      const originalData = $('Loop Over Items1').item.json;\n\n      // 2. Get AI response (from current input)\n      const aiResponseParts = $json.content?.parts;\n      \n      // Safety check: did AI return anything?\n      if (!aiResponseParts || !aiResponseParts[0] || !aiResponseParts[0].text) {\n        return { ...originalData, error: \"AI returned empty response\" };\n      }\n\n      const rawText = aiResponseParts[0].text;\n\n      // 3. Clean Markdown formatting (look for JSON brackets { ... })\n      const firstBracket = rawText.indexOf('{');\n      const lastBracket = rawText.lastIndexOf('}');\n      \n      let cleanJsonString = rawText;\n      if (firstBracket !== -1 && lastBracket !== -1) {\n        cleanJsonString = rawText.substring(firstBracket, lastBracket + 1);\n      }\n\n      // 4. Parse text to Object\n      const scoreCardData = JSON.parse(cleanJsonString);\n\n      // 5. Merge Data (Original from Loop + Score Card Result)\n      return { ...originalData, ...scoreCardData };\n\n    } catch (e) {\n      // Fallback: Return whatever data we can find + error message\n      let fallbackData = {};\n      try { \n        // Try getting data from Loop node in catch block too\n        fallbackData = $('Loop Over Items1').item.json; \n      } catch(err) { \n        fallbackData = $json; \n      }\n\n      return { \n        ...fallbackData, \n        error: \"JSON Parse Error: \" + e.message,\n        raw_ai_output: $json.content?.parts?.[0]?.text \n      };\n    }\n  })()\n}}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          288,
          192
        ],
        "id": "29a3c6f2-e548-4b87-863c-83e864bf95d1",
        "name": "Simplify JSON"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "532976d3-ba44-40e3-ba63-606d75c5d7dd",
                "leftValue": "={{ $json[\"Score Recommendation\"] }}",
                "rightValue": "Go to Hypothesis",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          960,
          192
        ],
        "id": "14f5d664-93f9-4a4e-acb9-3a8bf6efa72c",
        "name": "Check recommendation"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1026735829,
            "mode": "list",
            "cachedResultName": "ENXAG AI IDEAS - responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit#gid=1026735829"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Score Recommendation": "={{ $json.score_recommendation }}",
              "Score Avg": "={{ $json.score_avg }}",
              "AI advisor summary": "={{ $json.ai_advisor_summary }}",
              "Awareness Check – comment": "={{ $json.awareness_comment }}",
              "Awareness Check – existing solutions": "={{ $json.awareness_existing_solutions }}",
              "Know-how – comment": "={{ $json.score_knowhow_comment }}",
              "Know-how (1–5)": "={{ $json.score_knowhow }}",
              "Complexity – comment": "={{ $json.score_complexity_comment }}",
              "Complexity (1–5)": "={{ $json.score_complexity }}",
              "Relevance (1–5)": "={{ $json.score_relevance }}",
              "Relevance – comment": "={{ $json.score_relevance_comment }}",
              "Customer Benefit (1–5)": "={{ $json.score_customer_benefit }}",
              "Customer Benefit – comment": "={{ $json.score_customer_benefit_comment }}",
              "Disruptive Potential (1–5)": "={{ $json.score_disruptive }}",
              "Disruptive Potential – comment": "={{ $json.score_disruptive_comment }}",
              "ID": "={{ $json.ID }}",
              "Status": "Proceeded"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Idea name",
                "displayName": "Idea name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Idea Description ",
                "displayName": "Idea Description ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Target Persona / User  ",
                "displayName": "Target Persona / User  ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Problem Solved ",
                "displayName": "Problem Solved ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Expected Business Value [Revenue increase]",
                "displayName": "Expected Business Value [Revenue increase]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Expected Business Value [Cost reduction]",
                "displayName": "Expected Business Value [Cost reduction]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Expected Business Value [User experience improvement]",
                "displayName": "Expected Business Value [User experience improvement]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Expected Business Value [Efficiency gain]",
                "displayName": "Expected Business Value [Efficiency gain]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Value Explanation ",
                "displayName": "Value Explanation ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Effort/time to deliver",
                "displayName": "Effort/time to deliver",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "High-Level Design ",
                "displayName": "High-Level Design ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Dependencies / Risks / Notes ",
                "displayName": "Dependencies / Risks / Notes ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Scope of impact",
                "displayName": "Scope of impact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Idea Source",
                "displayName": "Idea Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Relevance (1–5)",
                "displayName": "Relevance (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Relevance – comment",
                "displayName": "Relevance – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Customer Benefit (1–5)",
                "displayName": "Customer Benefit (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Customer Benefit – comment",
                "displayName": "Customer Benefit – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Disruptive Potential (1–5)",
                "displayName": "Disruptive Potential (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Disruptive Potential – comment",
                "displayName": "Disruptive Potential – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Complexity (1–5)",
                "displayName": "Complexity (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Complexity – comment",
                "displayName": "Complexity – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Know-how (1–5)",
                "displayName": "Know-how (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Know-how – comment",
                "displayName": "Know-how – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Awareness Check – existing solutions",
                "displayName": "Awareness Check – existing solutions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Awareness Check – comment",
                "displayName": "Awareness Check – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "AI advisor summary",
                "displayName": "AI advisor summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Score Avg",
                "displayName": "Score Avg",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Score Recommendation",
                "displayName": "Score Recommendation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Hypothesis statement",
                "displayName": "Hypothesis statement",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Success metric 1",
                "displayName": "Success metric 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Success threshold 1",
                "displayName": "Success threshold 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Success metric 2",
                "displayName": "Success metric 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Success threshold 2",
                "displayName": "Success threshold 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "MVP plan description",
                "displayName": "MVP plan description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "MVP test variable",
                "displayName": "MVP test variable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "AI analyst summary",
                "displayName": "AI analyst summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Research summary",
                "displayName": "Research summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Salesforce OOTB check",
                "displayName": "Salesforce OOTB check",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Market competitors",
                "displayName": "Market competitors",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Differentation factor",
                "displayName": "Differentation factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Risk technological",
                "displayName": "Risk technological",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Risk regulatory",
                "displayName": "Risk regulatory",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Final research recommendation",
                "displayName": "Final research recommendation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Research justification",
                "displayName": "Research justification",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          512,
          192
        ],
        "id": "4885ad00-a81b-4da0-86b1-41481fab40e0",
        "name": "Update row in sheet",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1026735829,
            "mode": "list",
            "cachedResultName": "ENXAG AI IDEAS - responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit#gid=1026735829"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "ID",
                "lookupValue": "={{ $json.ID }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          736,
          192
        ],
        "id": "5e733e7c-e327-4ecd-beec-cfa41cd19622",
        "name": "Get row(s) in sheet"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1026735829,
            "mode": "list",
            "cachedResultName": "ENXAG AI IDEAS - responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit#gid=1026735829"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID": "={{ $json.ID }}",
              "Status": "Processing"
            },
            "matchingColumns": [
              "ID"
            ],
            "schema": [
              {
                "id": "ID",
                "displayName": "ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Timestamp",
                "displayName": "Timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "displayName": "Email Address",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Idea name",
                "displayName": "Idea name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Idea Description ",
                "displayName": "Idea Description ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Target Persona / User  ",
                "displayName": "Target Persona / User  ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Problem Solved ",
                "displayName": "Problem Solved ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Expected Business Value [Revenue increase]",
                "displayName": "Expected Business Value [Revenue increase]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Expected Business Value [Cost reduction]",
                "displayName": "Expected Business Value [Cost reduction]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Expected Business Value [User experience improvement]",
                "displayName": "Expected Business Value [User experience improvement]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Expected Business Value [Efficiency gain]",
                "displayName": "Expected Business Value [Efficiency gain]",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Value Explanation ",
                "displayName": "Value Explanation ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Effort/time to deliver",
                "displayName": "Effort/time to deliver",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "High-Level Design ",
                "displayName": "High-Level Design ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dependencies / Risks / Notes ",
                "displayName": "Dependencies / Risks / Notes ",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Scope of impact",
                "displayName": "Scope of impact",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Idea Source",
                "displayName": "Idea Source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Relevance (1–5)",
                "displayName": "Relevance (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Relevance – comment",
                "displayName": "Relevance – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Customer Benefit (1–5)",
                "displayName": "Customer Benefit (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Customer Benefit – comment",
                "displayName": "Customer Benefit – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Disruptive Potential (1–5)",
                "displayName": "Disruptive Potential (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Disruptive Potential – comment",
                "displayName": "Disruptive Potential – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Complexity (1–5)",
                "displayName": "Complexity (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Complexity – comment",
                "displayName": "Complexity – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Know-how (1–5)",
                "displayName": "Know-how (1–5)",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Know-how – comment",
                "displayName": "Know-how – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Awareness Check – existing solutions",
                "displayName": "Awareness Check – existing solutions",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Awareness Check – comment",
                "displayName": "Awareness Check – comment",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "AI advisor summary",
                "displayName": "AI advisor summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Score Avg",
                "displayName": "Score Avg",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Score Recommendation",
                "displayName": "Score Recommendation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hypothesis statement",
                "displayName": "Hypothesis statement",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Success metric 1",
                "displayName": "Success metric 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Success threshold 1",
                "displayName": "Success threshold 1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Success metric 2",
                "displayName": "Success metric 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Success threshold 2",
                "displayName": "Success threshold 2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MVP plan description",
                "displayName": "MVP plan description",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "MVP test variable",
                "displayName": "MVP test variable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "AI analyst summary",
                "displayName": "AI analyst summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Research summary",
                "displayName": "Research summary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Salesforce OOTB check",
                "displayName": "Salesforce OOTB check",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Market competitors",
                "displayName": "Market competitors",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Differentation factor",
                "displayName": "Differentation factor",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Risk technological",
                "displayName": "Risk technological",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Risk regulatory",
                "displayName": "Risk regulatory",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Research justification",
                "displayName": "Research justification",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Final research recommendation",
                "displayName": "Final research recommendation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          0
        ],
        "id": "9a99e8a4-c710-4307-a6f7-f670b76e151e",
        "name": "Update status to processing"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -288,
          272
        ],
        "id": "1fa23cab-46ed-4c4f-936e-459960cdf299",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1026735829,
            "mode": "list",
            "cachedResultName": "ENXAG AI IDEAS - responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit#gid=1026735829"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Status",
                "lookupValue": "New"
              },
              {
                "lookupColumn": "Status",
                "lookupValue": "Processing"
              }
            ]
          },
          "combineFilters": "OR",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -512,
          64
        ],
        "id": "9dfe3c3a-bb87-4cfe-8dbf-694410191050",
        "name": "filter new and Processing rows"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              },
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -736,
          64
        ],
        "id": "e1a473d2-f3d8-4b48-9307-c5fdc00a82a4",
        "name": "Every hour"
      },
      {
        "parameters": {
          "fromEmail": " ai-consulting@enxoo.com",
          "toEmail": "={{ $json[\"Email Address\"] }}, ai-consulting@enxoo.com",
          "subject": "=AI Analysis report: {{ $json[\"Idea name\"] }}",
          "html": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; color: #333; max-width: 650px; line-height: 1.5;\">\n  \n  <div style=\"background-color: #002E6D; padding: 20px; border-radius: 8px 8px 0 0; text-align: center;\">\n    <h1 style=\"color: #fff; margin: 0; font-size: 24px;\">AI Idea Score Card 🤖</h1>\n    <p style=\"color: #e0e0e0; margin: 5px 0 0 0; font-size: 14px;\">Analysis for idea: <strong>{{ $json[\"Idea name\"] }}</strong></p>\n  </div>\n\n  <div style=\"padding: 20px; border: 1px solid #ddd; border-top: none; border-radius: 0 0 8px 8px;\">\n\n    <div style=\"background-color: {{ $json['Score Recommendation'].includes('Go') ? '#e8f5e9' : '#ffebee' }}; padding: 15px; border-left: 5px solid {{ $json['Score Recommendation'].includes('Go') ? '#2e7d32' : '#c62828' }}; margin-bottom: 25px;\">\n      \n      <h3 style=\"margin-top: 0; color: {{ $json['Score Recommendation'].includes('Go') ? '#2e7d32' : '#c62828' }};\">\n        Decision: {{ $json[\"Score Recommendation\"] }}\n      </h3>\n      \n      <p style=\"margin-bottom: 0; font-style: italic;\">\"{{ $json[\"AI advisor summary\"] }}\"</p>\n    </div>\n\n    <h3 style=\"border-bottom: 2px solid #002E6D; padding-bottom: 5px; color: #002E6D;\">Detailed Assessment</h3>\n    <p><strong>Average Score:</strong> <span style=\"font-weight: bold; font-size: 1.1em;\">{{ $json[\"Score Avg\"] }}/5</span></p>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px; font-size: 14px;\">\n      <tr style=\"background-color: #f9f9f9;\">\n        <th style=\"padding: 10px; text-align: left; border-bottom: 1px solid #ddd;\">Category</th>\n        <th style=\"padding: 10px; text-align: center; border-bottom: 1px solid #ddd;\">Score</th>\n        <th style=\"padding: 10px; text-align: left; border-bottom: 1px solid #ddd;\">AI Comment</th>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">Relevance</td>\n        <td style=\"padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid #eee;\">{{ $json[\"Relevance (1–5)\"] }}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee; color: #555;\">{{ $json[\"Relevance – comment\"] }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">Customer Benefit</td>\n        <td style=\"padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid #eee;\">{{ $json[\"Customer Benefit (1–5)\"] }}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee; color: #555;\">{{ $json[\"Customer Benefit – comment\"] }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">Disruptive Potential</td>\n        <td style=\"padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid #eee;\">{{ $json[\"Disruptive Potential (1–5)\"] }}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee; color: #555;\">{{ $json[\"Disruptive Potential – comment\"] }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">Complexity</td>\n        <td style=\"padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid #eee;\">{{ $json[\"Complexity (1–5)\"] }}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee; color: #555;\">{{ $json[\"Complexity – comment\"] }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee;\">Know-how</td>\n        <td style=\"padding: 8px; text-align: center; font-weight: bold; border-bottom: 1px solid #eee;\">{{ $json[\"Know-how (1–5)\"] }}</td>\n        <td style=\"padding: 8px; border-bottom: 1px solid #eee; color: #555;\">{{ $json[\"Know-how – comment\"] }}</td>\n      </tr>\n    </table>\n\n    <h3 style=\"border-bottom: 2px solid #002E6D; padding-bottom: 5px; color: #002E6D; margin-top: 30px;\">Market Awareness & OOTB Check</h3>\n    \n    <p style=\"font-style: italic; color: #555;\">{{ $json[\"Awareness Check – comment\"] }}</p>\n    <p style=\"font-size: 0.9em; color: #333;\"><strong>Identified Solutions:</strong> {{ $json[\"Awareness Check – existing solutions\"] }}</p>\n\n    <h3 style=\"border-bottom: 2px solid #002E6D; padding-bottom: 5px; color: #002E6D; margin-top: 30px;\">Next Steps</h3>\n    <div style=\"background-color: #f5f5f5; padding: 15px; border-radius: 5px; border: 1px solid #bdbdbd;\">\n      <p style=\"margin: 0; color: #424242;\">\n        <strong>What happens now?</strong> Although this idea was not selected for immediate validation, it remains in our internal register. The <strong>AI Crew</strong> reviews all submissions and may contact you if we find a new strategic fit or technological opportunity for your concept.\n      </p>\n    </div>\n\n    <hr style=\"border: 0; border-top: 1px solid #eee; margin: 40px 0 20px 0;\">\n    <p style=\"font-size: 12px; color: #999; text-align: center;\">\n      Notification generated automatically by <strong>Enxoo AI Ideas</strong>.<br>\n      Thank you for your contribution!\n    </p>\n  </div>\n</div>",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1184,
          464
        ],
        "id": "41e75ee9-4968-4b0b-a904-0f7f61bfe170",
        "name": "Send email",
        "webhookId": "e664970b-6978-496f-a724-e2ace29d3df0"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1026735829,
            "mode": "list",
            "cachedResultName": "ENXAG AI IDEAS - responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit#gid=1026735829"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Status",
                "lookupValue": "Processing"
              },
              {
                "lookupColumn": "Status",
                "lookupValue": "New"
              }
            ]
          },
          "combineFilters": "OR",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -512,
          272
        ],
        "id": "149bb9ae-1288-415e-8640-4a10f6ede05f",
        "name": "Get new or processing idea rows"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "authentication": "serviceAccount",
          "triggerOn": "specificFile",
          "fileToWatch": {
            "__rl": true,
            "value": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "mode": "list",
            "cachedResultName": "Enxoo AI Idea Submission Form (Responses)",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk"
          }
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -736,
          272
        ],
        "id": "466d5657-8a13-4e10-805a-a8b6adf0db7b",
        "name": "On AI Ideas repository  file update"
      }
    ],
    "connections": {
      "Score Card Assistant": {
        "main": [
          [
            {
              "node": "Simplify JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simplify JSON": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check recommendation": {
        "main": [
          [
            {
              "node": "Call '[Enxoo AI Ideas] 3. Hypothesis assistant'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Check recommendation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Update status to processing",
              "type": "main",
              "index": 0
            },
            {
              "node": "Score Card Assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call '[Enxoo AI Ideas] 3. Hypothesis assistant'": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every hour": {
        "main": [
          [
            {
              "node": "filter new and Processing rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "filter new and Processing rows": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get new or processing idea rows": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On AI Ideas repository  file update": {
        "main": [
          [
            {
              "node": "Get new or processing idea rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {
      "On AI Ideas repository  file update": [
        {
          "json": {
            "exportLinks": {
              "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=ods",
              "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=tsv",
              "application/pdf": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=pdf",
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=xlsx",
              "text/csv": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=csv",
              "application/zip": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=zip",
              "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk&exportFormat=ods"
            },
            "lastModifyingUser": {
              "displayName": "miwoj-service-account@miwoj-project1.iam.gserviceaccount.com",
              "kind": "drive#user",
              "me": true,
              "permissionId": "11759043133196563761",
              "emailAddress": "miwoj-service-account@miwoj-project1.iam.gserviceaccount.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocLOjTyerox2srJoJAx1sdZ_ddeREJiK3T5-YKbB9W5btdmd15g=s64"
            },
            "sharingUser": {
              "displayName": "mikolaj.wojnarowski",
              "kind": "drive#user",
              "me": false,
              "permissionId": "07874855615018487723",
              "emailAddress": "mikolaj.wojnarowski@enxoo.com",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVT6YFWVSLDf_nZT6epIP0sF1jvVIRPQVMXPDEJu6QqiipqSHl4=s64"
            },
            "spaces": [
              "drive"
            ],
            "capabilities": {
              "canAddChildren": false,
              "canAddFolderFromAnotherDrive": false,
              "canChangeCopyRequiresWriterPermission": false,
              "canChangeItemDownloadRestriction": false,
              "canChangeSecurityUpdateEnabled": false,
              "canChangeViewersCanCopyContent": false,
              "canComment": true,
              "canCopy": true,
              "canDelete": false,
              "canDeleteChildren": false,
              "canDisableInheritedPermissions": false,
              "canDownload": true,
              "canEdit": true,
              "canEnableInheritedPermissions": false,
              "canListChildren": false,
              "canModifyContent": true,
              "canModifyContentRestriction": true,
              "canModifyEditorContentRestriction": true,
              "canModifyOwnerContentRestriction": false,
              "canModifyLabels": true,
              "canMoveChildrenOutOfTeamDrive": false,
              "canMoveChildrenOutOfDrive": false,
              "canMoveChildrenWithinTeamDrive": false,
              "canMoveChildrenWithinDrive": false,
              "canMoveItemIntoTeamDrive": false,
              "canMoveItemOutOfTeamDrive": false,
              "canMoveItemOutOfDrive": false,
              "canMoveItemWithinTeamDrive": false,
              "canMoveItemWithinDrive": false,
              "canMoveTeamDriveItem": false,
              "canReadLabels": true,
              "canReadRevisions": true,
              "canReadTeamDrive": false,
              "canReadDrive": false,
              "canRemoveChildren": false,
              "canRemoveContentRestriction": false,
              "canRename": true,
              "canShare": true,
              "canTrash": false,
              "canTrashChildren": false,
              "canUntrash": false
            },
            "permissionIds": [
              "06896191499305283021",
              "07874855615018487723",
              "05073875346114557472",
              "08265154206648280794",
              "11759043133196563761",
              "11873300284517925225",
              "15269246698017565898"
            ],
            "linkShareMetadata": {
              "securityUpdateEligible": false,
              "securityUpdateEnabled": true
            },
            "downloadRestrictions": {
              "itemDownloadRestriction": {
                "restrictedForReaders": false,
                "restrictedForWriters": false
              },
              "effectiveDownloadRestrictionWithContext": {
                "restrictedForReaders": false,
                "restrictedForWriters": false
              }
            },
            "kind": "drive#file",
            "id": "1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk",
            "name": "Enxoo AI Ideas repository",
            "mimeType": "application/vnd.google-apps.spreadsheet",
            "starred": false,
            "trashed": false,
            "explicitlyTrashed": false,
            "version": "786",
            "webViewLink": "https://docs.google.com/spreadsheets/d/1ntYlUKViXJgg1j-BiJ4025-yxidXNm1b-piiENwLsCk/edit?usp=drivesdk",
            "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
            "hasThumbnail": true,
            "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOZ1I8N1JQyV3ZN0bLkJw03OzQYXS70LWQs0nojMqTzs0V2g24DoRJs2g9I0Gr6ms8ILrpwt6jR8W6weap1ktyr2fJ6XjfcB0mdsFnuuQ2lvC3D7l2TOWQ5i5v67CVK=s220",
            "thumbnailVersion": "265",
            "viewedByMe": true,
            "viewedByMeTime": "2025-12-23T10:36:02.712Z",
            "createdTime": "2025-10-10T07:19:46.055Z",
            "modifiedTime": "2025-12-23T10:36:02.712Z",
            "modifiedByMeTime": "2025-12-23T10:36:02.712Z",
            "modifiedByMe": true,
            "sharedWithMeTime": "2025-12-18T15:22:33.815Z",
            "teamDriveId": "0AJrkE-IlCb_3Uk9PVA",
            "driveId": "0AJrkE-IlCb_3Uk9PVA",
            "viewersCanCopyContent": true,
            "copyRequiresWriterPermission": false,
            "hasAugmentedPermissions": true,
            "size": "48885",
            "quotaBytesUsed": "48885",
            "isAppAuthorized": false,
            "inheritedPermissionsDisabled": false
          }
        }
      ]
    },
    "versionId": "1fc925f5-faf8-434d-9630-acc1752e9e20",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-01-16T07:54:05.413Z",
        "createdAt": "2026-01-16T07:54:05.413Z",
        "role": "workflow:owner",
        "workflowId": "WYWP3xH8Wf1Fnkzz",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}