inactive/miwoj-google-drive-notebooklm-enterprise_01SIEHUa1tY1Aj4D.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-29T01:00:01.995Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "01SIEHUa1tY1Aj4D",
    "workflow_name": "[MIWOJ] Google Drive → NotebookLM Enterprise",
    "active": false,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-14T07:50:20.297Z",
    "createdAt": "2026-02-12T14:48:55.068Z",
    "id": "01SIEHUa1tY1Aj4D",
    "name": "[MIWOJ] Google Drive → NotebookLM Enterprise",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 2
              }
            ]
          }
        },
        "id": "trigger-schedule",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "returnAll": true,
          "filter": {
            "folderId": {
              "__rl": true,
              "mode": "id",
              "value": "={{ $vars.DRIVE_FOLDER_ID }}"
            },
            "whatToSearch": "files"
          },
          "options": {}
        },
        "id": "gdrive-list",
        "name": "List Drive Files",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          272,
          0
        ]
      },
      {
        "parameters": {
          "url": "=https://{{ $vars.NLM_LOCATION }}-discoveryengine.googleapis.com/v1alpha/projects/{{ $vars.NLM_PROJECT_NUMBER }}/locations/{{ $vars.NLM_LOCATION }}/notebooks/{{ $vars.NLM_NOTEBOOK_ID }}/sources",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleApi",
          "options": {}
        },
        "id": "http-list-sources",
        "name": "List NotebookLM Sources",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          528,
          0
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "jsCode": "// === Google Drive → NotebookLM Sync: Compare & Prepare ===\n\n// 1. Get all files from Google Drive\nconst driveFiles = $('List Drive Files').all();\n\n// 2. Get NotebookLM sources from API response\nconst notebookResponse = $('List NotebookLM Sources').first();\nconst existingSources = notebookResponse.json.sources || [];\n\n// 3. Build a Set of existing source titles (normalized for comparison)\nconst existingTitles = new Set(\n  existingSources.map(s => (s.title || '').toLowerCase().trim())\n);\n\n// 4. Find files in Drive that are NOT in NotebookLM\nconst missingFiles = driveFiles.filter(file => {\n  const fileName = (file.json.name || '').toLowerCase().trim();\n  return !existingTitles.has(fileName);\n});\n\n// 5. If nothing is missing, signal 'none'\nif (missingFiles.length === 0) {\n  return [{ json: { action: 'none', message: 'All files already synced.' } }];\n}\n\n// 6. Separate by type: Google native (Docs/Slides) vs uploaded files (PDFs etc.)\nconst GOOGLE_NATIVE_MIMES = [\n  'application/vnd.google-apps.document',\n  'application/vnd.google-apps.presentation',\n];\n\nconst nativeFiles = missingFiles.filter(f =>\n  GOOGLE_NATIVE_MIMES.includes(f.json.mimeType)\n);\nconst uploadFiles = missingFiles.filter(f =>\n  !GOOGLE_NATIVE_MIMES.includes(f.json.mimeType)\n);\n\n// 7. Build output items\nconst outputItems = [];\n\n// 7a. One batch item for all native Google files (Docs/Slides)\nif (nativeFiles.length > 0) {\n  outputItems.push({\n    json: {\n      action: 'batchNative',\n      count: nativeFiles.length,\n      fileNames: nativeFiles.map(f => f.json.name),\n      requestBody: {\n        sources: nativeFiles.map(f => ({\n          googleDriveContent: {\n            resourceName: f.json.id,\n            title: f.json.name\n          }\n        }))\n      }\n    }\n  });\n}\n\n// 7b. One item per uploaded file (PDFs, DOCX, etc.) — each needs download + upload\nfor (const f of uploadFiles) {\n  outputItems.push({\n    json: {\n      action: 'uploadFile',\n      fileId: f.json.id,\n      fileName: f.json.name,\n      mimeType: f.json.mimeType\n    }\n  });\n}\n\nreturn outputItems;"
        },
        "id": "code-compare",
        "name": "Compare & Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          784,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-none",
                "leftValue": "={{ $json.action }}",
                "rightValue": "none",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-nothing",
        "name": "IF Nothing To Sync",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1040,
          0
        ]
      },
      {
        "parameters": {},
        "id": "noop-synced",
        "name": "All Synced",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1312,
          -160
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-batch",
                "leftValue": "={{ $json.action }}",
                "rightValue": "batchNative",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-batch",
        "name": "IF Native or Upload",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1312,
          128
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $vars.NLM_LOCATION }}-discoveryengine.googleapis.com/v1alpha/projects/{{ $vars.NLM_PROJECT_NUMBER }}/locations/{{ $vars.NLM_LOCATION }}/notebooks/{{ $vars.NLM_NOTEBOOK_ID }}/sources:batchCreate",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
          "options": {}
        },
        "id": "http-batch-create",
        "name": "Add Native Files to NotebookLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1568,
          32
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $json.fileId }}"
          },
          "options": {}
        },
        "id": "gdrive-download",
        "name": "Download File from Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1568,
          224
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://{{ $vars.NLM_LOCATION }}-discoveryengine.googleapis.com/upload/v1alpha/projects/{{ $vars.NLM_PROJECT_NUMBER }}/locations/{{ $vars.NLM_LOCATION }}/notebooks/{{ $vars.NLM_NOTEBOOK_ID }}/sources:uploadFile",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleApi",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "id": "http-upload-file",
        "name": "Upload File to NotebookLM",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1824,
          224
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "List Drive Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Drive Files": {
        "main": [
          [
            {
              "node": "List NotebookLM Sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List NotebookLM Sources": {
        "main": [
          [
            {
              "node": "Compare & Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare & Prepare": {
        "main": [
          [
            {
              "node": "IF Nothing To Sync",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Nothing To Sync": {
        "main": [
          [
            {
              "node": "All Synced",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "IF Native or Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Native or Upload": {
        "main": [
          [
            {
              "node": "Add Native Files to NotebookLM",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Download File from Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download File from Drive": {
        "main": [
          [
            {
              "node": "Upload File to NotebookLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "a8d97e7f-c7d3-4980-9837-6f2ccac7b310",
    "activeVersionId": null,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-02-12T15:40:23.774Z",
        "createdAt": "2026-02-12T15:40:23.774Z",
        "role": "workflow:owner",
        "workflowId": "01SIEHUa1tY1Aj4D",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": null,
    "tags": []
  }
}