active/prod-wai-support-check_QadmkLcu1QUTMg2Y.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-01T12:45:15.662Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "QadmkLcu1QUTMg2Y",
    "workflow_name": "[PROD] WAI - SUPPORT CHECK",
    "active": true,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-13T02:26:21.004Z",
    "createdAt": "2026-01-27T06:21:40.341Z",
    "id": "QadmkLcu1QUTMg2Y",
    "name": "[PROD] WAI - SUPPORT CHECK",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "support-check",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          192
        ],
        "webhookId": "support-check",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "support_maintanance",
          "limit": 1,
          "filterType": "string",
          "filterString": "=key=eq.{{ $json.body.api_key }}"
        },
        "id": "supabase-get",
        "name": "Get Support Status",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          448,
          96
        ],
        "credentials": {
          "supabaseApi": {
            "id": "pDckhjeF4Smhrova",
            "name": "[WAI] SUPABASE - RAG"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Validate api_key was provided\nconst apiKey = $('Webhook').first()?.json?.body?.api_key;\nif (!apiKey) {\n  return [{ json: { support_active: false, reason: 'missing_api_key', error: 'api_key is required' } }];\n}\n\nconst supportData = $input.first();\nconst expiryDate = supportData?.json?.value;\n\nif (!expiryDate) {\n  return [{ json: { support_active: false, reason: 'no_record' } }];\n}\n\nconst expiry = new Date(expiryDate);\nconst now = new Date();\nconst support_active = expiry > now;\n\nreturn [{ json: {\n  support_active,\n  expires_at: expiryDate,\n  reason: support_active ? 'active' : 'expired'\n} }];"
        },
        "id": "code-check-expiry",
        "name": "Check Expiry",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          96
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "id": "respond-webhook",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          896,
          96
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "api-key-check",
                "leftValue": "={{ $json.body.api_key }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "validate-input",
        "name": "Validate Input",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          224,
          192
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ support_active: false, reason: 'missing_api_key', error: 'api_key is required' }) }}",
          "options": {
            "responseCode": 400
          }
        },
        "id": "error-response",
        "name": "Error: Missing API Key",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          448,
          288
        ]
      }
    ],
    "connections": {
      "Get Support Status": {
        "main": [
          [
            {
              "node": "Check Expiry",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Expiry": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Get Support Status",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error: Missing API Key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "errorWorkflow": "qbOSaENwdtXKQhbo"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "520b5d9a-eb63-4676-818e-4520df0cfd67",
    "activeVersionId": "520b5d9a-eb63-4676-818e-4520df0cfd67",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-27T06:27:58.007Z",
        "createdAt": "2026-01-27T06:27:58.007Z",
        "role": "workflow:owner",
        "workflowId": "QadmkLcu1QUTMg2Y",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-02-09T13:10:42.000Z",
      "createdAt": "2026-02-09T13:10:22.455Z",
      "versionId": "520b5d9a-eb63-4676-818e-4520df0cfd67",
      "workflowId": "QadmkLcu1QUTMg2Y",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "support-check",
            "responseMode": "responseNode",
            "options": {}
          },
          "id": "webhook-trigger",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2,
          "position": [
            0,
            192
          ],
          "webhookId": "support-check",
          "onError": "continueRegularOutput"
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "support_maintanance",
            "limit": 1,
            "filterType": "string",
            "filterString": "=key=eq.{{ $json.body.api_key }}"
          },
          "id": "supabase-get",
          "name": "Get Support Status",
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            448,
            96
          ],
          "credentials": {
            "supabaseApi": {
              "id": "pDckhjeF4Smhrova",
              "name": "[WAI] SUPABASE - RAG"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "// Validate api_key was provided\nconst apiKey = $('Webhook').first()?.json?.body?.api_key;\nif (!apiKey) {\n  return [{ json: { support_active: false, reason: 'missing_api_key', error: 'api_key is required' } }];\n}\n\nconst supportData = $input.first();\nconst expiryDate = supportData?.json?.value;\n\nif (!expiryDate) {\n  return [{ json: { support_active: false, reason: 'no_record' } }];\n}\n\nconst expiry = new Date(expiryDate);\nconst now = new Date();\nconst support_active = expiry > now;\n\nreturn [{ json: {\n  support_active,\n  expires_at: expiryDate,\n  reason: support_active ? 'active' : 'expired'\n} }];"
          },
          "id": "code-check-expiry",
          "name": "Check Expiry",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            672,
            96
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ $json }}",
            "options": {}
          },
          "id": "respond-webhook",
          "name": "Respond to Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            896,
            96
          ]
        },
        {
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 1
              },
              "conditions": [
                {
                  "id": "api-key-check",
                  "leftValue": "={{ $json.body.api_key }}",
                  "rightValue": "",
                  "operator": {
                    "type": "string",
                    "operation": "exists",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          },
          "id": "validate-input",
          "name": "Validate Input",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [
            224,
            192
          ]
        },
        {
          "parameters": {
            "respondWith": "json",
            "responseBody": "={{ JSON.stringify({ support_active: false, reason: 'missing_api_key', error: 'api_key is required' }) }}",
            "options": {
              "responseCode": 400
            }
          },
          "id": "error-response",
          "name": "Error: Missing API Key",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.1,
          "position": [
            448,
            288
          ]
        }
      ],
      "connections": {
        "Get Support Status": {
          "main": [
            [
              {
                "node": "Check Expiry",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Check Expiry": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Webhook": {
          "main": [
            [
              {
                "node": "Validate Input",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Validate Input": {
          "main": [
            [
              {
                "node": "Get Support Status",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Error: Missing API Key",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Wdrazaj AI",
      "name": "Version 520b5d9a",
      "description": "",
      "autosaved": true
    },
    "tags": []
  }
}