active/rag-clean-up_Oyqu9TrP_cLF5lB8QWf4b.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-03T02:00:02.010Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "Oyqu9TrP_cLF5lB8QWf4b",
    "workflow_name": "RAG - Clean up",
    "active": true,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-08T16:22:41.702Z",
    "createdAt": "2026-01-20T15:04:12.005Z",
    "id": "Oyqu9TrP_cLF5lB8QWf4b",
    "name": "RAG - Clean up",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "resource": "fileFolder",
          "searchMethod": "query",
          "queryString": "'1uYVWp6bf2NiWH8tP3qhkFRFqJHC7iwNF' in parents and trashed=false",
          "returnAll": true,
          "filter": {},
          "options": {
            "fields": [
              "id"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -112,
          16
        ],
        "id": "e2c832fc-0109-4a2b-b0b7-35b4d25eb44d",
        "name": "Get File IDs",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TzGbHKnjytdXTibB",
            "name": "[WAI] GOOGLE DRIVE - MIKO"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          160,
          96
        ],
        "id": "889c4e87-6fe9-4964-bf92-41820c5fcead",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "documents",
          "returnAll": true
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -112,
          176
        ],
        "id": "5825b09c-d467-486c-a43e-259239108ce6",
        "name": "Supabase",
        "credentials": {
          "supabaseApi": {
            "id": "pDckhjeF4Smhrova",
            "name": "[WAI] SUPABASE - RAG"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Grab the raw data from all inputs\nconst inputData = $input.all().map(item => item.json);\n\n// Separate out the Google Drive items (no \"metadata\") vs. Supabase items (have \"metadata\")\nconst googleDriveItems = inputData.filter(item => item.id && !item.metadata);\nconst supabaseItems = inputData.filter(item => item.metadata);\n\n// Extract just the file IDs from Google Drive\nconst googleDriveIds = googleDriveItems.map(item => item.id);\n\n// Build a Set for quick membership checks (recommended for large arrays)\nconst driveIdSet = new Set(googleDriveIds);\n\n// Filter Supabase rows to find those whose file_id is not in the Drive set\nconst orphanedSupabaseRows = supabaseItems.filter(item => {\n  return !driveIdSet.has(item.metadata.file_id);\n});\n\n// Return each orphaned row as a separate n8n item\nreturn orphanedSupabaseRows.map(row => ({ json: row }));\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          384,
          96
        ],
        "id": "4aaabc02-9d47-4aed-bdc4-55c4c0302021",
        "name": "Code1"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -416,
          352
        ],
        "id": "2cd95d99-3ee4-46cf-9297-beb6bb6fcb09",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "documents",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          608,
          96
        ],
        "id": "1860edd8-c571-40d0-90a8-490c30918b8a",
        "name": "Delete Rows",
        "credentials": {
          "supabaseApi": {
            "id": "pDckhjeF4Smhrova",
            "name": "[WAI] SUPABASE - RAG"
          }
        }
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "searchMethod": "query",
          "queryString": "'1uYVWp6bf2NiWH8tP3qhkFRFqJHC7iwNF' in parents and trashed=false",
          "returnAll": true,
          "filter": {},
          "options": {
            "fields": [
              "id"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -112,
          416
        ],
        "id": "14000e34-79ab-4bdc-929a-4c821d83b547",
        "name": "Get File IDs2",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "TzGbHKnjytdXTibB",
            "name": "[WAI] GOOGLE DRIVE - MIKO"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "document_metadata",
          "returnAll": true
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -112,
          640
        ],
        "id": "de03b298-31c6-441c-9ab0-390815292d17",
        "name": "Supabase2",
        "credentials": {
          "supabaseApi": {
            "id": "pDckhjeF4Smhrova",
            "name": "[WAI] SUPABASE - RAG"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          176,
          496
        ],
        "id": "ce303d3a-8cec-4353-8d78-d9ba781e269b",
        "name": "Merge2"
      },
      {
        "parameters": {
          "jsCode": "// Simple code to handle empty Google Drive\n\n// Determine if we have Google Drive data\nlet hasDriveData = false;\nlet driveFileIds = new Set();\n\n// Check the first item to see if it's a Google Drive file or a file list\nif (items[0] && items[0].json) {\n  // Is it a files array?\n  if (items[0].json.files && Array.isArray(items[0].json.files)) {\n    hasDriveData = true;\n    for (const file of items[0].json.files) {\n      if (file && file.id) driveFileIds.add(file.id);\n    }\n  }\n  // Is it a single file with no metadata-like properties?\n  else if (items[0].json.id && !items[0].json.title && !items[0].json.created_at) {\n    hasDriveData = true;\n    driveFileIds.add(items[0].json.id);\n  }\n}\n\nconsole.log(\"Has Drive data:\", hasDriveData);\nconsole.log(\"Drive file IDs:\", Array.from(driveFileIds));\n\n// Determine which items are metadata records\nlet metadataRecords = [];\n\n// If the first item looks like a metadata record (has title, url, created_at)\nif (!hasDriveData) {\n  // All items are metadata records\n  metadataRecords = items.map(item => item.json).filter(Boolean);\n  console.log(\"All items are metadata records:\", metadataRecords.length);\n} else {\n  // Only items after the first are metadata records\n  metadataRecords = items.slice(1).map(item => item.json).filter(Boolean);\n  console.log(\"Items after first are metadata records:\", metadataRecords.length);\n}\n\n// If there are no Drive files, mark all metadata records for deletion\nconst recordsToDelete = [];\n\nif (driveFileIds.size === 0) {\n  console.log(\"No Drive files, marking ALL metadata records for deletion\");\n  for (const record of metadataRecords) {\n    if (record && record.id) {\n      recordsToDelete.push({\n        ...record,\n        _shouldDelete: true\n      });\n    }\n  }\n} else {\n  // Otherwise, only mark records not in Drive\n  console.log(\"Checking metadata records against Drive files\");\n  for (const record of metadataRecords) {\n    if (record && record.id && !driveFileIds.has(record.id)) {\n      recordsToDelete.push({\n        ...record,\n        _shouldDelete: true\n      });\n    }\n  }\n}\n\nconsole.log(\"Records to delete:\", recordsToDelete.length);\nreturn recordsToDelete;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          400,
          496
        ],
        "id": "6cf8ea45-4251-4eb5-bc89-15c2d682a85b",
        "name": "Code2"
      },
      {
        "parameters": {
          "operation": "delete",
          "tableId": "document_metadata",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          640,
          496
        ],
        "id": "9ff28ac5-f6e6-4e57-bf3a-0f2bd7e4a9c0",
        "name": "Delete Rows2",
        "credentials": {
          "supabaseApi": {
            "id": "pDckhjeF4Smhrova",
            "name": "[WAI] SUPABASE - RAG"
          }
        }
      },
      {
        "parameters": {
          "content": "## RAG: Clean up",
          "height": 956,
          "width": 1440,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -512,
          -80
        ],
        "id": "006f0d8a-95a5-429b-a619-78a53627dc69",
        "name": "Sticky Note5"
      }
    ],
    "connections": {
      "Get File IDs": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Delete Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get File IDs",
              "type": "main",
              "index": 0
            },
            {
              "node": "Supabase",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get File IDs2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Supabase2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File IDs2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Supabase2": {
        "main": [
          [
            {
              "node": "Merge2",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Delete Rows2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "qbOSaENwdtXKQhbo"
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": null,
    "pinData": {},
    "versionId": "305df39f-352f-415b-8864-5673fdce1144",
    "activeVersionId": "305df39f-352f-415b-8864-5673fdce1144",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-01-20T15:04:12.010Z",
        "createdAt": "2026-01-20T15:04:12.010Z",
        "role": "workflow:owner",
        "workflowId": "Oyqu9TrP_cLF5lB8QWf4b",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-02-08T16:22:43.000Z",
      "createdAt": "2026-02-08T16:22:41.703Z",
      "versionId": "305df39f-352f-415b-8864-5673fdce1144",
      "workflowId": "Oyqu9TrP_cLF5lB8QWf4b",
      "nodes": [
        {
          "parameters": {
            "resource": "fileFolder",
            "searchMethod": "query",
            "queryString": "'1uYVWp6bf2NiWH8tP3qhkFRFqJHC7iwNF' in parents and trashed=false",
            "returnAll": true,
            "filter": {},
            "options": {
              "fields": [
                "id"
              ]
            }
          },
          "type": "n8n-nodes-base.googleDrive",
          "typeVersion": 3,
          "position": [
            -112,
            16
          ],
          "id": "e2c832fc-0109-4a2b-b0b7-35b4d25eb44d",
          "name": "Get File IDs",
          "credentials": {
            "googleDriveOAuth2Api": {
              "id": "TzGbHKnjytdXTibB",
              "name": "[WAI] GOOGLE DRIVE - MIKO"
            }
          }
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3,
          "position": [
            160,
            96
          ],
          "id": "889c4e87-6fe9-4964-bf92-41820c5fcead",
          "name": "Merge"
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "documents",
            "returnAll": true
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -112,
            176
          ],
          "id": "5825b09c-d467-486c-a43e-259239108ce6",
          "name": "Supabase",
          "credentials": {
            "supabaseApi": {
              "id": "pDckhjeF4Smhrova",
              "name": "[WAI] SUPABASE - RAG"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "// Grab the raw data from all inputs\nconst inputData = $input.all().map(item => item.json);\n\n// Separate out the Google Drive items (no \"metadata\") vs. Supabase items (have \"metadata\")\nconst googleDriveItems = inputData.filter(item => item.id && !item.metadata);\nconst supabaseItems = inputData.filter(item => item.metadata);\n\n// Extract just the file IDs from Google Drive\nconst googleDriveIds = googleDriveItems.map(item => item.id);\n\n// Build a Set for quick membership checks (recommended for large arrays)\nconst driveIdSet = new Set(googleDriveIds);\n\n// Filter Supabase rows to find those whose file_id is not in the Drive set\nconst orphanedSupabaseRows = supabaseItems.filter(item => {\n  return !driveIdSet.has(item.metadata.file_id);\n});\n\n// Return each orphaned row as a separate n8n item\nreturn orphanedSupabaseRows.map(row => ({ json: row }));\n"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            384,
            96
          ],
          "id": "4aaabc02-9d47-4aed-bdc4-55c4c0302021",
          "name": "Code1"
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {}
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.2,
          "position": [
            -416,
            352
          ],
          "id": "2cd95d99-3ee4-46cf-9297-beb6bb6fcb09",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "delete",
            "tableId": "documents",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.id }}"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            608,
            96
          ],
          "id": "1860edd8-c571-40d0-90a8-490c30918b8a",
          "name": "Delete Rows",
          "credentials": {
            "supabaseApi": {
              "id": "pDckhjeF4Smhrova",
              "name": "[WAI] SUPABASE - RAG"
            }
          }
        },
        {
          "parameters": {
            "resource": "fileFolder",
            "searchMethod": "query",
            "queryString": "'1uYVWp6bf2NiWH8tP3qhkFRFqJHC7iwNF' in parents and trashed=false",
            "returnAll": true,
            "filter": {},
            "options": {
              "fields": [
                "id"
              ]
            }
          },
          "type": "n8n-nodes-base.googleDrive",
          "typeVersion": 3,
          "position": [
            -112,
            416
          ],
          "id": "14000e34-79ab-4bdc-929a-4c821d83b547",
          "name": "Get File IDs2",
          "credentials": {
            "googleDriveOAuth2Api": {
              "id": "TzGbHKnjytdXTibB",
              "name": "[WAI] GOOGLE DRIVE - MIKO"
            }
          }
        },
        {
          "parameters": {
            "operation": "getAll",
            "tableId": "document_metadata",
            "returnAll": true
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            -112,
            640
          ],
          "id": "de03b298-31c6-441c-9ab0-390815292d17",
          "name": "Supabase2",
          "credentials": {
            "supabaseApi": {
              "id": "pDckhjeF4Smhrova",
              "name": "[WAI] SUPABASE - RAG"
            }
          }
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.merge",
          "typeVersion": 3,
          "position": [
            176,
            496
          ],
          "id": "ce303d3a-8cec-4353-8d78-d9ba781e269b",
          "name": "Merge2"
        },
        {
          "parameters": {
            "jsCode": "// Simple code to handle empty Google Drive\n\n// Determine if we have Google Drive data\nlet hasDriveData = false;\nlet driveFileIds = new Set();\n\n// Check the first item to see if it's a Google Drive file or a file list\nif (items[0] && items[0].json) {\n  // Is it a files array?\n  if (items[0].json.files && Array.isArray(items[0].json.files)) {\n    hasDriveData = true;\n    for (const file of items[0].json.files) {\n      if (file && file.id) driveFileIds.add(file.id);\n    }\n  }\n  // Is it a single file with no metadata-like properties?\n  else if (items[0].json.id && !items[0].json.title && !items[0].json.created_at) {\n    hasDriveData = true;\n    driveFileIds.add(items[0].json.id);\n  }\n}\n\nconsole.log(\"Has Drive data:\", hasDriveData);\nconsole.log(\"Drive file IDs:\", Array.from(driveFileIds));\n\n// Determine which items are metadata records\nlet metadataRecords = [];\n\n// If the first item looks like a metadata record (has title, url, created_at)\nif (!hasDriveData) {\n  // All items are metadata records\n  metadataRecords = items.map(item => item.json).filter(Boolean);\n  console.log(\"All items are metadata records:\", metadataRecords.length);\n} else {\n  // Only items after the first are metadata records\n  metadataRecords = items.slice(1).map(item => item.json).filter(Boolean);\n  console.log(\"Items after first are metadata records:\", metadataRecords.length);\n}\n\n// If there are no Drive files, mark all metadata records for deletion\nconst recordsToDelete = [];\n\nif (driveFileIds.size === 0) {\n  console.log(\"No Drive files, marking ALL metadata records for deletion\");\n  for (const record of metadataRecords) {\n    if (record && record.id) {\n      recordsToDelete.push({\n        ...record,\n        _shouldDelete: true\n      });\n    }\n  }\n} else {\n  // Otherwise, only mark records not in Drive\n  console.log(\"Checking metadata records against Drive files\");\n  for (const record of metadataRecords) {\n    if (record && record.id && !driveFileIds.has(record.id)) {\n      recordsToDelete.push({\n        ...record,\n        _shouldDelete: true\n      });\n    }\n  }\n}\n\nconsole.log(\"Records to delete:\", recordsToDelete.length);\nreturn recordsToDelete;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            400,
            496
          ],
          "id": "6cf8ea45-4251-4eb5-bc89-15c2d682a85b",
          "name": "Code2"
        },
        {
          "parameters": {
            "operation": "delete",
            "tableId": "document_metadata",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "keyName": "id",
                  "condition": "eq",
                  "keyValue": "={{ $json.id }}"
                }
              ]
            }
          },
          "type": "n8n-nodes-base.supabase",
          "typeVersion": 1,
          "position": [
            640,
            496
          ],
          "id": "9ff28ac5-f6e6-4e57-bf3a-0f2bd7e4a9c0",
          "name": "Delete Rows2",
          "credentials": {
            "supabaseApi": {
              "id": "pDckhjeF4Smhrova",
              "name": "[WAI] SUPABASE - RAG"
            }
          }
        },
        {
          "parameters": {
            "content": "## RAG: Clean up",
            "height": 956,
            "width": 1440,
            "color": 6
          },
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -512,
            -80
          ],
          "id": "006f0d8a-95a5-429b-a619-78a53627dc69",
          "name": "Sticky Note5"
        }
      ],
      "connections": {
        "Get File IDs": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Merge": {
          "main": [
            [
              {
                "node": "Code1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Supabase": {
          "main": [
            [
              {
                "node": "Merge",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Code1": {
          "main": [
            [
              {
                "node": "Delete Rows",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Get File IDs",
                "type": "main",
                "index": 0
              },
              {
                "node": "Supabase",
                "type": "main",
                "index": 0
              },
              {
                "node": "Get File IDs2",
                "type": "main",
                "index": 0
              },
              {
                "node": "Supabase2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get File IDs2": {
          "main": [
            [
              {
                "node": "Merge2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Supabase2": {
          "main": [
            [
              {
                "node": "Merge2",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge2": {
          "main": [
            [
              {
                "node": "Code2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code2": {
          "main": [
            [
              {
                "node": "Delete Rows2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Wdrazaj AI",
      "name": "Version 305df39f",
      "description": "",
      "autosaved": true
    },
    "tags": []
  }
}