active/sk-adki-zus-wysy-ka-e-maili_rFQgMBlcagTmSpt8.json
{
  "_backup_meta": {
    "backed_up_at": "2026-03-02T02:00:01.991Z",
    "n8n_instance": "https://wdrazajai.app.n8n.cloud",
    "workflow_id": "rFQgMBlcagTmSpt8",
    "workflow_name": "Składki ZUS - wysyłka e-maili",
    "active": true,
    "is_archived": false
  },
  "workflow": {
    "updatedAt": "2026-02-26T20:32:05.000Z",
    "createdAt": "2026-02-26T20:29:36.819Z",
    "id": "rFQgMBlcagTmSpt8",
    "name": "Składki ZUS - wysyłka e-maili",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "zus-skladki-powiadomienia",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Webhook - Dane ZUS",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "webhookId": "zus-skladki",
        "notes": "POST: okres, okres_czytelny, data_eksportu, liczba_klientow, klienci[]",
        "id": "f9bf619b-8913-4160-bfb9-da49f15ed7e1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "klienci",
          "options": {}
        },
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          460,
          300
        ],
        "notes": "Iterate klienci array",
        "id": "d9797587-b28c-44de-b883-fc3534b5d869"
      },
      {
        "parameters": {
          "operation": "lookup",
          "documentId": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "={{ $env.GOOGLE_SHEETS_SHEET_NAME || 'Klienci' }}",
            "mode": "name"
          },
          "lookupColumn": "NIP",
          "lookupValue": "={{ $json.nip }}",
          "options": {
            "returnAllMatches": "firstMatch"
          }
        },
        "name": "Google Sheets - Lookup Email",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "={{ $env.GOOGLE_SHEETS_CREDENTIAL_ID }}",
            "name": "Google Sheets"
          }
        },
        "notes": "Lookup by NIP: Email, Aktywny",
        "id": "e1be0f27-48a1-45bd-8696-1abd94404439"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.Aktywny }}",
                "operation": "equals",
                "value2": "TAK"
              }
            ]
          }
        },
        "name": "IF - Aktywny",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          900,
          300
        ],
        "notes": "Aktywny = TAK?",
        "id": "cabd9759-77d7-4686-98fe-117ff43f3fd2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "nip",
                "value": "={{ $json.nip }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "nazwa",
                "value": "={{ $json.Nazwa || $json.nazwa }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "suma_do_zaplaty",
                "value": "={{ $json.suma_do_zaplaty }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "email",
                "value": "={{ $json.Email || $json.email }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "okres",
                "value": "={{ $('Webhook - Dane ZUS').first().json.okres }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "okres_czytelny",
                "value": "={{ $('Webhook - Dane ZUS').first().json.okres_czytelny }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "data_eksportu",
                "value": "={{ $('Webhook - Dane ZUS').first().json.data_eksportu }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Set - Prepare Email Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.2,
        "position": [
          1120,
          200
        ],
        "notes": "Combine data",
        "id": "b2cb7b6c-59db-421b-ab49-34fe627d12c2"
      },
      {
        "parameters": {
          "fromEmail": "={{ $env.EMAIL_FROM || 'biuro@taxbiuro.pl' }}",
          "toEmail": "={{ $json.email }}",
          "subject": "=Składki ZUS za {{ $json.okres_czytelny }}",
          "emailType": "html",
          "message": "=<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background-color:#0066cc;color:white;padding:20px;text-align:center}.content{background-color:#f9f9f9;padding:20px;margin:20px 0}.amount{font-size:24px;font-weight:bold;color:#0066cc}.footer{font-size:12px;color:#666;margin-top:20px;padding-top:20px;border-top:1px solid #ddd}</style></head><body><div class=\"container\"><div class=\"header\"><h1>Składki ZUS za {{ $json.okres_czytelny }}</h1></div><div class=\"content\"><p>Dzień dobry,</p><p>Informujemy o składkach ZUS dla firmy <strong>{{ $json.nazwa }}</strong> (NIP: {{ $json.nip }}).</p><p><strong>Okres rozliczeniowy:</strong> {{ $json.okres_czytelny }}</p><p class=\"amount\">Suma do zapłaty: {{ $json.suma_do_zaplaty }} zł</p><p>W razie pytań prosimy o kontakt.</p><p>Pozdrawiamy,<br>Zespół TaxBiuro</p></div><div class=\"footer\"><p>Wiadomość wygenerowana automatycznie dnia {{ $json.data_eksportu }}</p><p>Nie odpowiadaj na tego e-maila.</p></div></div></body></html>",
          "options": {}
        },
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          1340,
          200
        ],
        "credentials": {
          "smtp": {
            "id": "={{ $env.SMTP_CREDENTIAL_ID }}",
            "name": "SMTP"
          }
        },
        "notes": "Send ZUS notification",
        "id": "f5d24c95-9f25-4ccb-9829-09627e406e70"
      },
      {
        "parameters": {},
        "name": "NoOp - Skip Inactive",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1120,
          400
        ],
        "notes": "Skip inactive",
        "id": "9928c92b-5a1c-4d57-a7f9-fe741ead9f93"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll"
        },
        "name": "Merge - Collect Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          1500,
          300
        ],
        "notes": "Combine results",
        "id": "99b65337-fe5d-4f07-a871-2dcfdd0301ae"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "name": "Webhook Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1680,
          300
        ],
        "notes": "Return response",
        "id": "3f4df455-25d5-446e-b575-168b93f74545"
      },
      {
        "parameters": {},
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          240,
          500
        ],
        "notes": "Error handler",
        "id": "835478a4-ba32-4a6c-a3e9-ea8f70f99ec0"
      },
      {
        "parameters": {
          "fromEmail": "={{ $env.EMAIL_FROM || 'biuro@taxbiuro.pl' }}",
          "toEmail": "={{ $env.ERROR_EMAIL || 'admin@taxbiuro.pl' }}",
          "subject": "=BŁĄD: Workflow ZUS - {{ $json.error.message }}",
          "emailType": "text",
          "message": "=Wystąpił błąd podczas wysyłki e-maili ZUS.\n\nKomunikat błędu:\n{{ $json.error.message }}\n\nCzas: {{ $now }}",
          "options": {}
        },
        "name": "Send Error Notification",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2,
        "position": [
          460,
          500
        ],
        "credentials": {
          "smtp": {
            "id": "={{ $env.SMTP_CREDENTIAL_ID }}",
            "name": "SMTP"
          }
        },
        "notes": "Notify admin",
        "id": "a9f46aaa-335f-44d6-8047-ac6e059d4519"
      }
    ],
    "connections": {
      "Webhook - Dane ZUS": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Google Sheets - Lookup Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets - Lookup Email": {
        "main": [
          [
            {
              "node": "IF - Aktywny",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF - Aktywny": {
        "main": [
          [
            {
              "node": "Set - Prepare Email Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp - Skip Inactive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set - Prepare Email Data": {
        "main": [
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Email": {
        "main": [
          [
            {
              "node": "Merge - Collect Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NoOp - Skip Inactive": {
        "main": [
          [
            {
              "node": "Merge - Collect Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge - Collect Results": {
        "main": [
          [
            {
              "node": "Webhook Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Send Error Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "85fe63b6-1373-446f-9cff-d897597ca1e4",
    "activeVersionId": "85fe63b6-1373-446f-9cff-d897597ca1e4",
    "triggerCount": 1,
    "shared": [
      {
        "updatedAt": "2026-02-26T20:32:05.052Z",
        "createdAt": "2026-02-26T20:32:05.052Z",
        "role": "workflow:owner",
        "workflowId": "rFQgMBlcagTmSpt8",
        "projectId": "2jlhRfElT6lOiXuI"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-02-26T20:29:36.853Z",
      "createdAt": "2026-02-26T20:29:36.853Z",
      "versionId": "85fe63b6-1373-446f-9cff-d897597ca1e4",
      "workflowId": "rFQgMBlcagTmSpt8",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "zus-skladki-powiadomienia",
            "responseMode": "responseNode",
            "options": {}
          },
          "name": "Webhook - Dane ZUS",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1.1,
          "position": [
            240,
            300
          ],
          "webhookId": "zus-skladki",
          "notes": "POST: okres, okres_czytelny, data_eksportu, liczba_klientow, klienci[]",
          "id": "f9bf619b-8913-4160-bfb9-da49f15ed7e1"
        },
        {
          "parameters": {
            "fieldToSplitOut": "klienci",
            "options": {}
          },
          "name": "Loop Over Items",
          "type": "n8n-nodes-base.splitOut",
          "typeVersion": 1,
          "position": [
            460,
            300
          ],
          "notes": "Iterate klienci array",
          "id": "d9797587-b28c-44de-b883-fc3534b5d869"
        },
        {
          "parameters": {
            "operation": "lookup",
            "documentId": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_DOCUMENT_ID }}",
              "mode": "id"
            },
            "sheetName": {
              "__rl": true,
              "value": "={{ $env.GOOGLE_SHEETS_SHEET_NAME || 'Klienci' }}",
              "mode": "name"
            },
            "lookupColumn": "NIP",
            "lookupValue": "={{ $json.nip }}",
            "options": {
              "returnAllMatches": "firstMatch"
            }
          },
          "name": "Google Sheets - Lookup Email",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [
            680,
            300
          ],
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "={{ $env.GOOGLE_SHEETS_CREDENTIAL_ID }}",
              "name": "Google Sheets"
            }
          },
          "notes": "Lookup by NIP: Email, Aktywny",
          "id": "e1be0f27-48a1-45bd-8696-1abd94404439"
        },
        {
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{ $json.Aktywny }}",
                  "operation": "equals",
                  "value2": "TAK"
                }
              ]
            }
          },
          "name": "IF - Aktywny",
          "type": "n8n-nodes-base.if",
          "typeVersion": 1,
          "position": [
            900,
            300
          ],
          "notes": "Aktywny = TAK?",
          "id": "cabd9759-77d7-4686-98fe-117ff43f3fd2"
        },
        {
          "parameters": {
            "assignments": {
              "assignments": [
                {
                  "id": "a1",
                  "name": "nip",
                  "value": "={{ $json.nip }}",
                  "type": "string"
                },
                {
                  "id": "a2",
                  "name": "nazwa",
                  "value": "={{ $json.Nazwa || $json.nazwa }}",
                  "type": "string"
                },
                {
                  "id": "a3",
                  "name": "suma_do_zaplaty",
                  "value": "={{ $json.suma_do_zaplaty }}",
                  "type": "string"
                },
                {
                  "id": "a4",
                  "name": "email",
                  "value": "={{ $json.Email || $json.email }}",
                  "type": "string"
                },
                {
                  "id": "a5",
                  "name": "okres",
                  "value": "={{ $('Webhook - Dane ZUS').first().json.okres }}",
                  "type": "string"
                },
                {
                  "id": "a6",
                  "name": "okres_czytelny",
                  "value": "={{ $('Webhook - Dane ZUS').first().json.okres_czytelny }}",
                  "type": "string"
                },
                {
                  "id": "a7",
                  "name": "data_eksportu",
                  "value": "={{ $('Webhook - Dane ZUS').first().json.data_eksportu }}",
                  "type": "string"
                }
              ]
            },
            "options": {}
          },
          "name": "Set - Prepare Email Data",
          "type": "n8n-nodes-base.set",
          "typeVersion": 3.2,
          "position": [
            1120,
            200
          ],
          "notes": "Combine data",
          "id": "b2cb7b6c-59db-421b-ab49-34fe627d12c2"
        },
        {
          "parameters": {
            "fromEmail": "={{ $env.EMAIL_FROM || 'biuro@taxbiuro.pl' }}",
            "toEmail": "={{ $json.email }}",
            "subject": "=Składki ZUS za {{ $json.okres_czytelny }}",
            "emailType": "html",
            "message": "=<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.container{max-width:600px;margin:0 auto;padding:20px}.header{background-color:#0066cc;color:white;padding:20px;text-align:center}.content{background-color:#f9f9f9;padding:20px;margin:20px 0}.amount{font-size:24px;font-weight:bold;color:#0066cc}.footer{font-size:12px;color:#666;margin-top:20px;padding-top:20px;border-top:1px solid #ddd}</style></head><body><div class=\"container\"><div class=\"header\"><h1>Składki ZUS za {{ $json.okres_czytelny }}</h1></div><div class=\"content\"><p>Dzień dobry,</p><p>Informujemy o składkach ZUS dla firmy <strong>{{ $json.nazwa }}</strong> (NIP: {{ $json.nip }}).</p><p><strong>Okres rozliczeniowy:</strong> {{ $json.okres_czytelny }}</p><p class=\"amount\">Suma do zapłaty: {{ $json.suma_do_zaplaty }} zł</p><p>W razie pytań prosimy o kontakt.</p><p>Pozdrawiamy,<br>Zespół TaxBiuro</p></div><div class=\"footer\"><p>Wiadomość wygenerowana automatycznie dnia {{ $json.data_eksportu }}</p><p>Nie odpowiadaj na tego e-maila.</p></div></div></body></html>",
            "options": {}
          },
          "name": "Send Email",
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2,
          "position": [
            1340,
            200
          ],
          "credentials": {
            "smtp": {
              "id": "={{ $env.SMTP_CREDENTIAL_ID }}",
              "name": "SMTP"
            }
          },
          "notes": "Send ZUS notification",
          "id": "f5d24c95-9f25-4ccb-9829-09627e406e70"
        },
        {
          "parameters": {},
          "name": "NoOp - Skip Inactive",
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            1120,
            400
          ],
          "notes": "Skip inactive",
          "id": "9928c92b-5a1c-4d57-a7f9-fe741ead9f93"
        },
        {
          "parameters": {
            "mode": "combine",
            "combineBy": "combineAll"
          },
          "name": "Merge - Collect Results",
          "type": "n8n-nodes-base.merge",
          "typeVersion": 2.1,
          "position": [
            1500,
            300
          ],
          "notes": "Combine results",
          "id": "99b65337-fe5d-4f07-a871-2dcfdd0301ae"
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "name": "Webhook Response",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [
            1680,
            300
          ],
          "notes": "Return response",
          "id": "3f4df455-25d5-446e-b575-168b93f74545"
        },
        {
          "parameters": {},
          "name": "Error Trigger",
          "type": "n8n-nodes-base.errorTrigger",
          "typeVersion": 1,
          "position": [
            240,
            500
          ],
          "notes": "Error handler",
          "id": "835478a4-ba32-4a6c-a3e9-ea8f70f99ec0"
        },
        {
          "parameters": {
            "fromEmail": "={{ $env.EMAIL_FROM || 'biuro@taxbiuro.pl' }}",
            "toEmail": "={{ $env.ERROR_EMAIL || 'admin@taxbiuro.pl' }}",
            "subject": "=BŁĄD: Workflow ZUS - {{ $json.error.message }}",
            "emailType": "text",
            "message": "=Wystąpił błąd podczas wysyłki e-maili ZUS.\n\nKomunikat błędu:\n{{ $json.error.message }}\n\nCzas: {{ $now }}",
            "options": {}
          },
          "name": "Send Error Notification",
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2,
          "position": [
            460,
            500
          ],
          "credentials": {
            "smtp": {
              "id": "={{ $env.SMTP_CREDENTIAL_ID }}",
              "name": "SMTP"
            }
          },
          "notes": "Notify admin",
          "id": "a9f46aaa-335f-44d6-8047-ac6e059d4519"
        }
      ],
      "connections": {
        "Webhook - Dane ZUS": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [
              {
                "node": "Google Sheets - Lookup Email",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Google Sheets - Lookup Email": {
          "main": [
            [
              {
                "node": "IF - Aktywny",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "IF - Aktywny": {
          "main": [
            [
              {
                "node": "Set - Prepare Email Data",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "NoOp - Skip Inactive",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Set - Prepare Email Data": {
          "main": [
            [
              {
                "node": "Send Email",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Send Email": {
          "main": [
            [
              {
                "node": "Merge - Collect Results",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "NoOp - Skip Inactive": {
          "main": [
            [
              {
                "node": "Merge - Collect Results",
                "type": "main",
                "index": 1
              }
            ]
          ]
        },
        "Merge - Collect Results": {
          "main": [
            [
              {
                "node": "Webhook Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Error Trigger": {
          "main": [
            [
              {
                "node": "Send Error Notification",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "Wdrazaj AI",
      "name": null,
      "description": null,
      "autosaved": false
    },
    "tags": []
  }
}